body{
    
    background-color:rgb(100, 88, 88);

 }  
 h1{

    font-size: 100px;
     color: rgba(255, 255, 255, 0.705); text-align: center; 
} 
p{ 
    font-size: 25px;
    color: rgb(255, 255, 255); 
    text-align: center; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} 
img{ 
   
    width: 600px; 
    height: 500px; 
    margin:80px; 
    margin-left: 700px; 
    
}
.lista_cabeçalho{
    display: flex;
    margin-left: 650px;

}
.item_lista_cabeçalho {
padding-left: 20px;
list-style: none;
font-size: 15px;
color: #000000;
}




